#activity-list {
  font-size: 1.1rem;
  color: gray;
}
#activity-list .name {
  font-weight: 500;
}

#activity-list .description {
  font-size: 0.8rem;
}

#activity-list i { 
  margin-left: 1.3rem;
  font-size: 1.1em;
}

.cursor-point {
  cursor: pointer;
}

.complete {
  color: #A9D18E;
}

.ongoing {
  color: #FFD966
}
